.createAccount {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
}
.confirmPassword,
.email,
.password {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 51px;
  font-family: var(--font-archivo);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.formFields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.searchFlightsButton {
  width: 160px;
  height: 52px;
}
.searchFlightsButton:hover {
  background-color: var(--color-saddlebrown);
}
.form1 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-7);
  max-width: 100%;
}
.formWrapper,
.socialLoginContainer {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.formWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 13.7px;
}
.socialLoginContainer {
  flex: 1;
  position: relative;
  border-top: 1.6px solid var(--color-whitesmoke-200);
}
.createAccountParent,
.socialLoginContainerWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.socialLoginContainerWrapper {
  height: 13.7px;
  flex-direction: row;
  padding: 0 0 12.1px;
  box-sizing: border-box;
}
.createAccountParent {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.login {
  color: var(--accent);
}
.iAlreadyHaveContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}
.confirmPasswordField,
.form,
.loginSections {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.form {
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: 37.7px;
}
.confirmPasswordField,
.loginSections {
  flex-direction: row;
}
.confirmPasswordField {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.loginSections {
  align-self: stretch;
  justify-content: center;
  padding: 170.1px var(--padding-xl) 170.2px;
  box-sizing: border-box;
  background-image: url(/public/login-sections@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.contactUs,
.localhostIncAll,
.privacyPolicy,
.termsConditions {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contactUs,
.privacyPolicy,
.termsConditions {
  display: inline-block;
  min-width: 85px;
}
.contactUs,
.termsConditions {
  min-width: 120px;
}
.contactUs {
  min-width: 67px;
}
.privacyPolicyParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bandInner,
.localhostIncAllRightsResParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
}
.localhostIncAllRightsResParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.bandInner {
  width: 100%;
  justify-content: center;
}
.band,
.signUpPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.band {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-xs) var(--padding-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.signUpPage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.signUpPage:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .bandInner,
  .localhostIncAllRightsResParent {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .loginSections {
    padding-top: var(--padding-92xl);
    padding-bottom: var(--padding-92xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .form {
    gap: var(--gap-lgi);
    padding: var(--padding-7xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .loginSections {
    gap: var(--gap-9xl);
    padding-top: var(--padding-53xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .localhostIncAllRightsResParent {
    flex-wrap: wrap;
  }
  .band {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .createAccount {
    font-size: var(--font-size-2xl);
  }
  .privacyPolicyParent {
    flex-wrap: wrap;
  }
}
